/* =========================
   RESET
========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


img {
  display: block;
  width: auto;
  height: auto;
}


a {
  text-decoration: none;
  text-align: center;

  
}

p {
  font-size: 20px;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  
}

body {
  font-family: "Inter", sans-serif;
  color: #000000;
  
}
